.main{
display:flex;
flex-direction: row;
padding: 10px;
justify-content: center;
align-items: space-around;
}
#mainLeft{
    padding-left: 30vw;
    width:45vw;
    display: flex;
    flex-direction: column;
}
#mainRight{
    width: 45vw;
    display: flex;
    flex-direction: column;
    padding-right: 20vw;
}
